.image{
	margin-top: 0px;
	margin-bottom: 30px;
}

.btn-h1-spacing {
	margin-top:18px;
}
.btn-h2-spacing {
    margin-top:20px;
}
.btn-top-spacing {
    margin-top:10px;
}
.btn-bot-spacing {
    margin-bottom:10px;
}
.menu-top-spacing {
    margin-top:5px;
}
.form-spacing-top{
	margin-top:30px;
}
.text{
	color: white;
}


.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    
    transform: scale(1.1);
}

.back{

	background:url(images/grey.png);
}

.text-btn{
	color:black;
	hover:white;
}
.img{
 width: 100%;
    height: auto;

}

